<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Login Page</title>
</head>
<body style="background-color: slategrey">

    <div class="container" >
        {% if show == "Fail"%}
        <div id="showFail" class="alert alert-danger mt-3 align-items-center justify-content-center">
            <div>
                <strong>{{ show }}</strong>
            </div>
        </div>
        {% elif show == "Successful" %}
        <div id="showSuccessful" class="alert alert-success mt-3 align-items-center justify-content-center">
            <div>
                <strong>{{ show }}</strong>
            </div>
        </div>
        {% endif %}
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">AdminSignUp</h1>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <div class="form-group">
                                <label for="groupname">所屬組織：</label>
                                <input type="text" id="groupname" name="groupname" class="form-control" pattern="[a-zA-Z]+">
                            </div>
                            <div class="form-group">
                                <label for="username">帳號：</label>
                                <input type="text" id="username" name="username" class="form-control" pattern="[a-zA-Z0-9]+">
                            </div>
                            <div class="form-group">
                                <label for="password">密碼：</label>
                                <input type="password" id="password" name="password" class="form-control">
                            </div>
                            <button name="establishbutton" type="submit" class="btn btn-primary btn-block">建立帳號</button>
                            <button name="backtologin" type="button" class="btn btn-secondary btn-block" onclick="redirectToLogin()">回到登入</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function redirectToLogin() {
            // 使用window.location.href来跳转到login.html
            window.location.href = "/";
        }
    </script>
</body>
</html>
